<form (ngSubmit)="addTodo(newTodo.value)" >
    <label>Add a new Todo </label>
    <input type="text" #newTodo placeholder="Add a new todo..." name="newTodo" >
    <input name="_csrf" type="hidden" value=""/>
    
    <input type="submit" value="Submit" >
</form>
<div *ngIf="todoList !== []; else elseBlock">
    <ul *ngFor="let todo of todoList">
        <li style="display:flex;justify-content:space-between">
            <p>{{todo.content}}</p>
            <div *ngIf="todo.completed">
                <p>DONE</p>
            </div>
            <div *ngIf="!todo.completed">
                <p>TODO</p>
            </div>
            <button *ngIf="!todo.completed" (click)="completeTodo(todo.id)">
                Complete
            </button>
        </li>
    </ul>
</div>
<ng-template #elseBlock>
    <p>No items in Todolist</p>
</ng-template>
